.playground{
    background-color: none;
    position: absolute;
    border-radius: 10px;
    border: solid 3px rgb(31, 35, 70);
}

canvas{
    background-color: black;
    transition-duration: 0.2s;
}
